<div class="row">
	<div class="span4">
<h2>Navigation Bar</h2>
	</div>
	<div class="span8">
<h1>Welcome to to One Month Rails<h1>
<p>
	You've found the home page for the
	<%= link_to "One Month Rails","http://onemonthrails.com" %>
	application.
</p>

<p>
	<a href="#">Sign up now!</a>
</p>

	</div>
</div>



